

  .custom-select:before{display:none !important;}

  .custom-select {
      background-color: #fff;
      border: 1px solid #ccc;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0 0 2em;
      padding: 0;
      position: relative;
      width: 100%;
      z-index: 1;
  }
  
  .custom-select:hover {
      border-color: #999;
  }
  
  .custom-select:before {
      color: #333;
      display: block;
      font-family: 'FontAwesome';
      font-size: 1em;
      height: 100%;
      line-height: 2.5em;
      padding: 0 0.625em;
      position: absolute;
      top: 0;
      right: 0;
      text-align: center;
      width: 1em;
      z-index: -1;
  }
  
  .custom-select select {
      background-color: transparent;
      border: 0 none;
      box-shadow: none;
      color: #333;
      display: block;
      font-size: 100%;
      line-height: normal;
      margin: 0;
      padding: .5em;
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
  }
  
  .custom-select select::-ms-expand {
      display: none; /* to ie 10 */
  }
  
  .custom-select select:focus {
      outline: none;
  }

  :-moz-any(.custom-select):before {
	background-color: #fff; /* this is necessary for overcome the caret default browser */
	pointer-events: none; /* https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events  */
	z-index: 1; /* this is necessary for overcome the pseudo element */
}

.number-input--inline[data-v-607416cd] {
    display: inline-block;
}
.number-input[data-v-607416cd] {
    display: block;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}
.number-input__button--minus[data-v-607416cd] {
    border-right: .0625rem solid #ddd;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    left: .0625rem;
}
.number-input__button[data-v-607416cd] {
    background-color: transparent;
    border: 0;
    border-radius: .25rem;
    bottom: .0625rem;
    position: absolute;
    top: .0625rem;
    width: 2.5rem;
}
.number-input__button[data-v-607416cd]::before {
    height: .0625rem;
    width: 50%;
}
:after, :before {
    text-decoration: inherit;
    vertical-align: inherit;
}
.number-input__button[data-v-607416cd]::after, .number-input__button[data-v-607416cd]::before {
    background-color: #111;
    content: "";
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: background-color .15s;
}

.number-input__input[data-v-607416cd] {
    border-radius: .25rem;
    border: 1px solid #ddd;
    display: block;
    font-size: 1rem;
    line-height: 1.5;
    max-width: 100%;
    min-height: 1.5rem;
    min-width: 3rem;
    padding: .4375rem .875rem;
    transition: border-color .15s;
    width: 100%;
}
.number-input--inline>input[data-v-607416cd] {
    display: inline-block;
    width: 12.5rem;
}
.number-input--center>input[data-v-607416cd] {
    text-align: center;
}
.number-input--controls>input[data-v-607416cd] {
    padding-left: 3.375rem;
    padding-right: 3.375rem;
}
 