<main data-v-0194cfd2="" class="v-content" data-booted="true" style="padding: 64px 0px 0px;">
  <div class="v-content__wrap">
    <section data-v-0194cfd2="">
      <div data-v-0194cfd2="" class="v-parallax" style="height: 500px;">
        <div class="v-parallax__image-container">
          <img src="../assets/images/opstra-bg.1d96c498.jpg" alt="" class="v-parallax__image"
            style="display: block; opacity: 1; transform: translate(-50%, 79px);"></div>
        <div class="v-parallax__content">
          <div data-v-0194cfd2="" class="layout column align-center justify-center">
            <h1 data-v-0194cfd2="" class="black--text mb-2 display-2 text-xs-center">Opstra Options Strategy Builder
            </h1>
            <div data-v-0194cfd2="" class="black--text subheading mb-3 text-xs-center">Custom build and analyze your
              options strategies</div>
            <!----><a (click)="routeTo()"
              class="primary mt-5 v-btn v-btn--large v-btn--router theme--dark" target="_blank" style="background-color: #0096a9 !important;
              border-color: #0096a9 !important;margin-top: 48px!important;color: #fff;">
              <div class="v-btn__content">
                Get Started
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>