.v-content[data-booted=true] {
    -webkit-transition: .2s cubic-bezier(.4,0,.2,1);
    transition: .2s cubic-bezier(.4,0,.2,1);
}
.v-content {
    -webkit-transition: none;
    transition: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    max-width: 100%;
}
.v-content__wrap {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    max-width: 100%;
    position: relative;
}
.v-parallax {
    position: relative;
    overflow: hidden;
    z-index: 0;
    height: 500px;
}

.v-parallax__image-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    contain: strict;
}

.v-parallax__image {
    position: absolute;
    bottom: 0;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    will-change: transform;
    transition: opacity .3s cubic-bezier(.25,.8,.5,1);
    z-index: 1;
    display: block;
    opacity: 1;
    transform: translate(-50%, 35px);
}

.v-parallax__content {
    color: #fff;
    height: 100%;
    z-index: 2;
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0 1rem;
}


.layout.column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.justify-center {
    -webkit-box-pack: center;
    justify-content: center;
}
.align-center {
    -webkit-box-align: center;
    align-items: center;
}
.layout {
    display: flex;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    flex-wrap: nowrap;
    min-width: 0;
}

@media (min-width: 0)
.text-xs-center {
    text-align: center!important;
}
.mb-2 {
    margin-bottom: 8px!important;
}
.display-2 {
    font-size: 45px!important;
    line-height: 48px!important;
    letter-spacing: normal!important;
}
.display-2 {
    font-weight: 400;
    font-family: Roboto,sans-serif!important;
}
.black--text {
    color: #000!important;
    caret-color: #000!important;
}

@media (min-width: 0)
.text-xs-center {
    text-align: center!important;
}
.mb-3 {
    margin-bottom: 16px!important;
}
.subheading {
    font-size: 16px!important;
    font-weight: 400;
}
.black--text {
    color: #000!important;
    caret-color: #000!important;
}

.v-btn--large {
    font-size: 15px;
    height: 44px;
    padding: 0 32px;
}

.application a {
    cursor: pointer;
}

.v-btn__content {
    -webkit-box-align: center;
    align-items: center;
    border-radius: inherit;
    color: inherit;
    display: flex;
    -webkit-box-flex: 1;
    flex: 1 0 auto;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    transition: .3s cubic-bezier(.25,.8,.5,1);
    white-space: nowrap;
    width: inherit;
}