<div class="center">
        <div>
                <h1 style="font-size: 45px!important;
                line-height: 48px!important;
                letter-spacing: normal!important; 
                color: #000!important;
    caret-color: #000!important;
                font-weight: 400;
                font-family: Roboto,sans-serif!important; "> Opstra Options Strategy Builder</h1>
                <br>
                <div style="text-align: center!important; 
        margin-bottom: 16px!important;
        font-size: 16px!important;font-weight: 400;
    color: #000!important;caret-color: #000!important;
    ">Custom build and analyze your options strategies</div>
                <br>
                <div class="btnn" (click)="ongetStarted()">Get Started </div>
        </div>

</div>




<!-- <div class="dropdown">
        <select name="demo" id="#">
                <option selected="selected" value="one">Option 1</option>
                <option value="two">Option 2</option>
                <option value="three">Option 3</option>
        </select>
</div> -->