<nav class="navbar navbar-expand-sm  navbar-dark sticky-top"
  style="background-color: #0096a9 !important; height: 77px; display: flex;">
  <div style="display: flex">
    <div style="align-items: center"> 
      <!-- <a class="navbar-brand" href="#"> -->
       <label style="font-size: 20px; color: white" >Opstra Options Analytics</label>
      <!-- </a> -->
    </div>
    <ul class="navbar-nav" style="margin-left: 800px;font-size: 20px; color: white">
      <li class="nav-item">

        <a class="nav-link" href="#" style="color: white"> <i class="fa fa-home"></i>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: white">Plans</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: white">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: white">Login/SignUp</a>
      </li>

    </ul>
  </div>
</nav>

<div class="container-fluid" style="background-color: whitesmoke"><br>
  <!-- 
  <app-toggle-component ng-ref="myToggle"></app-toggle-component>
  <button ng-click="myToggle.toggle()">Toggle</button>
  <div ng-show="myToggle.isOpen()">
    You are using a component in the same template to show it.
  </div>

  <strong>myRoot</strong>
<app-toggle-component ng-ref="$ctrl.outerToggle">Outer Toggle</app-toggle-component>
<div>outerToggle.isOpen(): {{$ctrl.outerToggle.isOpen() | json}}</div>
<div><em>wrappers assigned to root</em><br>
<div ng-repeat="wrapper in $ctrl.wrappers">
  wrapper.ngRepeatToggle.isOpen(): {{wrapper.ngRepeatToggle.isOpen() | json}}
</div> -->

  <router-outlet></router-outlet>
</div>