<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
  <div class="justify-content-center align-items-center" style="background-color: #FF4136; width: 500px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)">

    <div class="page-login">
      <div class="text-center">
        <a class="navbar-brand mb-4 h1" href="login.html">
          <img src="/img/logo.png" class="navbar-brand-image d-inline-block align-top mr-2" alt="">
          LOGO
        </a>
      </div>

      <div class="card mb-0">
        <div class="card-body">
          <form action="login" method="POST">
            <div class="form-group">
              <label for="exampleDropdownFormEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com"
                name="email">
            </div>
            <div class="form-group">
              <label for="exampleDropdownFormPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password"
                name="password">
            </div>
            <div class="form-group">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Remember me</label>
              </div>
            </div>

            <div class="btn-group" style="padding: 10px;margin-left: 50px;">
              <button type="button" class="btn btn-default btn-primary" style="margin-right: 10px !important;width: 180px;
                height: 36px;" (click)="onLogin()">Sign in</button>
              <button type="button" class="btn btn-default btn-primary" style="margin-right: 10px !important;width: 180px;
                height: 36px;" (click)="onSignup()">Sign up</button>
            </div>

          </form>
        </div>
        <div class="card-footer text-center">
          <a href="#"><small>Forgot your password?</small></a>
        </div>
      </div>
    </div>
  </div>

</body>

</html>